@import "../../Styles/Sass/02-Base/Color.scss";
@import "../../Styles/Sass/01-Utilitles/mixins.scss";

%letras 
{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

form
{
    display: flex;
    flex-direction: column;
}

*label
{
    @extend %letras;
    color: $color-negro-claro2;    
}

.input
{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid grey;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0rem;
}

.boton_2 
{
    @include width-heigth(30%, 15%);
    margin-top: 10%;
    background: $color-naranja;
    border-radius: 25px 25px;
    padding: 2% 5.5%;
    border: 0px;
    color: $color-blanco;
    @extend %letras;
    &:hover 
    {
        background: #bf6e39;
    }    
} 