@import "../Styles/Sass/02-Base/Color.scss";
@import "../Styles/Sass/01-Utilitles/mixins.scss";

%letras 
{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

footer
{
    @include width-heigth (100%, 12vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-negro-claro2;
}

sub 
{
    @extend %letras;
    color: #dce1da;
}

.copy
{
    padding-left: 5%;
}

.logo_2
{
    width: 150px;
    padding-right: 5%;
}

@media only screen and (max-width:770px)
{
    .logo_2
    {
        width: 100px;
    }
    sub 
    {
        font-size: .6rem;
    }
}